# Exercise

Follow the steps as instructed to practice the methods learned in the previous two notebooks.

For this exercise we will the movie rating dataset from Movie Lens: 

Dataset source: https://grouplens.org/datasets/movielens/ 

100,000 ratings from 1000 users on 1700 movies. Released 1998.

Data can be found in 02-Querying-Big-Data/data/movieLens-movie-rating.

Let's first upload the data into our Google Cloud Storage. Use the same bucket as where your notebooks are being stored and the same data folder that we have been using so far. Modify the following cell to include your bucket name (replace it with "is843"):

In [1]:
data = "gs://is843/notebooks/jupyter/data/"

Load the movies.csv file into a DataFrame and call it `movies_all`. Please note that the delimiter of this file is " | ". We will be using an option to define the delimiter as shown below:

```python
movies_all = spark.read.format("csv")\
  .option("delimiter", "|")\
  ...
```

In [2]:
# your answer goes here...

In [3]:
### Do not run this cell ###

Check out the schema of this DataFrame and make sure that the first 3 columns have the correct data type:

In [4]:
# your answer goes here...

In [5]:
### Do not run this cell ###

root
 |-- movie_id: integer (nullable = true)
 |-- movie_title: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- video_release_date: string (nullable = true)
 |-- IMDb_URL: string (nullable = true)
 |-- unknown: integer (nullable = true)
 |-- Action: integer (nullable = true)
 |-- Adventure: integer (nullable = true)
 |-- Animation: integer (nullable = true)
 |-- Childrens: integer (nullable = true)
 |-- Comedy: integer (nullable = true)
 |-- Crime: integer (nullable = true)
 |-- Documentary: integer (nullable = true)
 |-- Drama: integer (nullable = true)
 |-- Fantasy: integer (nullable = true)
 |-- Film_Noir: integer (nullable = true)
 |-- Horror: integer (nullable = true)
 |-- Musical: integer (nullable = true)
 |-- Mystery: integer (nullable = true)
 |-- Romance: integer (nullable = true)
 |-- Sci_Fi: integer (nullable = true)
 |-- Thriller: integer (nullable = true)
 |-- War: integer (nullable = true)
 |-- Western: integer (nullable = true)

Check out the first few rows of this DataFrame:

In [6]:
# your answer goes here...

In [7]:
### Do not run this cell ###

+--------+-----------------+------------+------------------+--------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|movie_id|      movie_title|release_date|video_release_date|            IMDb_URL|unknown|Action|Adventure|Animation|Childrens|Comedy|Crime|Documentary|Drama|Fantasy|Film_Noir|Horror|Musical|Mystery|Romance|Sci_Fi|Thriller|War|Western|
+--------+-----------------+------------+------------------+--------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
|       1| Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|        1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       2| GoldenEye (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        1|        0|        0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       3|Four Rooms (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
|       4|Get Shorty (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        0|        0|        0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|
|       5|   Copycat (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|        0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|
+--------+-----------------+------------+------------------+--------------------+-------+------+---------+---------+---------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+
only showing top 5 rows

We have too many fields that we won't be using. Let's create a new DataFrame off of `movies_all` and select only three columns `movie_id`, `movie_title`, and `release_date`. Call this DataFrame `movies`:

In [8]:
# your answer goes here...

In [9]:
### Do not run this cell ###

In [10]:
movies.show(10)

+--------+--------------------+------------+
|movie_id|         movie_title|release_date|
+--------+--------------------+------------+
|       1|    Toy Story (1995)| 01-Jan-1995|
|       2|    GoldenEye (1995)| 01-Jan-1995|
|       3|   Four Rooms (1995)| 01-Jan-1995|
|       4|   Get Shorty (1995)| 01-Jan-1995|
|       5|      Copycat (1995)| 01-Jan-1995|
|       6|Shanghai Triad (Y...| 01-Jan-1995|
|       7|Twelve Monkeys (1...| 01-Jan-1995|
|       8|         Babe (1995)| 01-Jan-1995|
|       9|Dead Man Walking ...| 01-Jan-1995|
|      10|  Richard III (1995)| 22-Jan-1996|
+--------+--------------------+------------+
only showing top 10 rows

`show()` function has an option called `truncate` which is ON by default. It will truncate the strings longer than 20 cahracters. Turn it off and print the first 10 rows:

In [11]:
# your answer goes here...

In [12]:
### Do not run this cell ###

+--------+----------------------------------------------------+------------+
|movie_id|movie_title                                         |release_date|
+--------+----------------------------------------------------+------------+
|1       |Toy Story (1995)                                    |01-Jan-1995 |
|2       |GoldenEye (1995)                                    |01-Jan-1995 |
|3       |Four Rooms (1995)                                   |01-Jan-1995 |
|4       |Get Shorty (1995)                                   |01-Jan-1995 |
|5       |Copycat (1995)                                      |01-Jan-1995 |
|6       |Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)|01-Jan-1995 |
|7       |Twelve Monkeys (1995)                               |01-Jan-1995 |
|8       |Babe (1995)                                         |01-Jan-1995 |
|9       |Dead Man Walking (1995)                             |01-Jan-1995 |
|10      |Richard III (1995)                                  |22-Jan-1996 |
+--------+----------------------------------------------------+------------+
only showing top 10 rows

Register `movies` DataFrame as a temporary view so that we can query it with SQL later. Give this temporary view the same name, `movies`:

In [13]:
# your answer goes here...

In [14]:
### Do not run this cell ###

Let's confirm this table exists. Use `spark.sql()` to do a `SELECT *` query and then `show` the output:

In [15]:
# your answer goes here...

In [16]:
### Do not run this cell ###

+--------+-----------------+------------+
|movie_id|      movie_title|release_date|
+--------+-----------------+------------+
|       1| Toy Story (1995)| 01-Jan-1995|
|       2| GoldenEye (1995)| 01-Jan-1995|
|       3|Four Rooms (1995)| 01-Jan-1995|
|       4|Get Shorty (1995)| 01-Jan-1995|
|       5|   Copycat (1995)| 01-Jan-1995|
+--------+-----------------+------------+

Back to our `movies` DataFrame, select and print `movie_title` while chaning its name to `title`.

Hint: use `selectExpr()`.

In [17]:
# your answer goes here...

In [18]:
### Do not run this cell ###

+-----------------+
|            title|
+-----------------+
| Toy Story (1995)|
| GoldenEye (1995)|
|Four Rooms (1995)|
|Get Shorty (1995)|
|   Copycat (1995)|
+-----------------+
only showing top 5 rows

How many rows does this DataFrame hold?

In [19]:
# your answer goes here...

In [20]:
### Do not run this cell ###

1682

Use `sample()` function to get a random list of movie names about 1% of total movies: 

Note: make sure there is no replacement in your sample.

In [21]:
# your answer goes here...

In [22]:
### Do not run this cell ###
# Note: your answer will differ from mine because of the randomness.

+-----------------------------+
|movie_title                  |
+-----------------------------+
|Citizen Ruth (1996)          |
|Devil's Own, The (1997)      |
|Bananas (1971)               |
|Mis�rables, Les (1995)       |
|Rear Window (1954)           |
|Prophecy, The (1995)         |
|My Family (1995)             |
|Blue Sky (1994)              |
|Crows and Sparrows (1949)    |
|Johnny 100 Pesos (1993)      |
|Foreign Correspondent (1940) |
|Thieves (Voleurs, Les) (1996)|
|Farmer & Chase (1995)        |
|Being Human (1993)           |
|Hurricane Streets (1998)     |
+-----------------------------+

Sort this DataFrame based on title in a descening order:

In [23]:
# your answer goes here...
from pyspark.sql.functions import desc, col

In [24]:
### Do not run this cell ###

+--------+--------------------+------------+
|movie_id|         movie_title|release_date|
+--------+--------------------+------------+
|    1633|� k�ldum klaka (C...| 08-Mar-1996|
|     267|             unknown|        null|
|    1164|Zeus and Roxanne ...| 10-Jan-1997|
|     547|Young Poisoner's ...| 23-Feb-1996|
|    1188|Young Guns II (1990)| 01-Jan-1990|
|     232|   Young Guns (1988)| 01-Jan-1988|
|     208|Young Frankenstei...| 01-Jan-1974|
|    1681| You So Crazy (1994)| 01-Jan-1994|
|     884|Year of the Horse...| 01-Jan-1997|
|    1557|  Yankee Zulu (1994)| 16-Feb-1996|
+--------+--------------------+------------+
only showing top 10 rows

Rename `movie_title` to `title` in `movies` DataFrame:

In [25]:
# your answer goes here...

In [26]:
### Do not run this cell ###

In [27]:
movies.show(5, False)

+--------+-----------------+------------+
|movie_id|title            |release_date|
+--------+-----------------+------------+
|1       |Toy Story (1995) |01-Jan-1995 |
|2       |GoldenEye (1995) |01-Jan-1995 |
|3       |Four Rooms (1995)|01-Jan-1995 |
|4       |Get Shorty (1995)|01-Jan-1995 |
|5       |Copycat (1995)   |01-Jan-1995 |
+--------+-----------------+------------+
only showing top 5 rows

Use the following regular expression to extract the year from string `title`:

`extract_str = '\((\d{4})\)$'`

This expression is doing the following:

```
\(       # Match the character “(” literally
(        # Match the regular expression below and capture its match into backreference number 1
   \d       # Match a single digit 0..9
      {4}      # Exactly 4 times
)
\)       # Match the character “)” literally
$        # Assert position at the end of a line (at the end of the string or before a line break character)
```

Create a new column for it and call it `year`:

In [28]:
# your answer goes here...
from pyspark.sql.functions import regexp_extract

In [29]:
### Do not run this cell ###

+--------+-----------------+------------+----+
|movie_id|            title|release_date|year|
+--------+-----------------+------------+----+
|       1| Toy Story (1995)| 01-Jan-1995|1995|
|       2| GoldenEye (1995)| 01-Jan-1995|1995|
|       3|Four Rooms (1995)| 01-Jan-1995|1995|
|       4|Get Shorty (1995)| 01-Jan-1995|1995|
|       5|   Copycat (1995)| 01-Jan-1995|1995|
+--------+-----------------+------------+----+
only showing top 5 rows

Repeate the step above but this time use `release_date` and the following reg expression:

`extract_str = '(\d{4})'`

Call this new column `release_year` and add it to the DataFrame `movies`:

In [30]:
# your answer goes here...

In [31]:
### Do not run this cell ###

+--------+-----------------+------------+----+------------+
|movie_id|            title|release_date|year|release_year|
+--------+-----------------+------------+----+------------+
|       1| Toy Story (1995)| 01-Jan-1995|1995|        1995|
|       2| GoldenEye (1995)| 01-Jan-1995|1995|        1995|
|       3|Four Rooms (1995)| 01-Jan-1995|1995|        1995|
|       4|Get Shorty (1995)| 01-Jan-1995|1995|        1995|
|       5|   Copycat (1995)| 01-Jan-1995|1995|        1995|
+--------+-----------------+------------+----+------------+
only showing top 5 rows

Let's make sure we have non-null values for both of these new columns:

In [32]:
movies.where(col("year").isNull()).show()

+--------+-----+------------+----+------------+
|movie_id|title|release_date|year|release_year|
+--------+-----+------------+----+------------+
+--------+-----+------------+----+------------+

In [33]:
movies.where(col("release_year").isNull()).show()

+--------+-----+------------+----+------------+
|movie_id|title|release_date|year|release_year|
+--------+-----+------------+----+------------+
+--------+-----+------------+----+------------+

Any empty string?

In [34]:
movies.where("release_year == ''").show()

+--------+-------+------------+----+------------+
|movie_id|  title|release_date|year|release_year|
+--------+-------+------------+----+------------+
|     267|unknown|        null|    |            |
+--------+-------+------------+----+------------+

In [35]:
movies.where("year == ''").show()

+--------+--------------------+------------+----+------------+
|movie_id|               title|release_date|year|release_year|
+--------+--------------------+------------+----+------------+
|     267|             unknown|        null|    |            |
|    1128|Heidi Fleiss: Hol...| 09-Feb-1996|    |        1995|
|    1201|Marlene Dietrich:...| 02-Apr-1996|    |        1996|
|    1412|Land Before Time ...| 01-Jan-1995|    |        1995|
|    1635| Two Friends (1986) | 26-Apr-1986|    |        1986|
+--------+--------------------+------------+----+------------+

Let's check to see if these two columns have any mismatches?

In [36]:
movies.where("year != release_year").show(10, False)

+--------+-------------------------------------------------------------+------------+----+------------+
|movie_id|title                                                        |release_date|year|release_year|
+--------+-------------------------------------------------------------+------------+----+------------+
|109     |Mystery Science Theater 3000: The Movie (1996)               |19-Apr-1996 |1996|3000        |
|135     |2001: A Space Odyssey (1968)                                 |01-Jan-1968 |1968|2001        |
|322     |Murder at 1600 (1997)                                        |18-Apr-1997 |1997|1600        |
|362     |Blues Brothers 2000 (1998)                                   |06-Feb-1998 |1998|2000        |
|1128    |Heidi Fleiss: Hollywood Madam (1995)                         |09-Feb-1996 |    |1995        |
|1201    |Marlene Dietrich: Shadow and Light (1996)                    |02-Apr-1996 |    |1996        |
|1412    |Land Before Time III: The Time of the Great Giving (1995) (V)|01-Jan-1995 |    |1995        |
|1635    |Two Friends (1986)                                           |26-Apr-1986 |    |1986        |
+--------+-------------------------------------------------------------+------------+----+------------+

We can see that we have 8 mismatches... can you go back to the regular expression that we used and enhance it?

For now let's remove these from our `movies` DataFrame:

In [37]:
movies = movies.where("year == release_year")
movies.count()

1674

Drop `release_date` and `release_year` columns from `movies`:

In [38]:
# your answer goes here...

In [39]:
### Do not run this cell ###

+--------+-----------------+----+
|movie_id|            title|year|
+--------+-----------------+----+
|       1| Toy Story (1995)|1995|
|       2| GoldenEye (1995)|1995|
|       3|Four Rooms (1995)|1995|
|       4|Get Shorty (1995)|1995|
|       5|   Copycat (1995)|1995|
+--------+-----------------+----+
only showing top 5 rows

Use the function `length()` to count the number of characters for each title. Subtract 7 from each value to take into account the " (xxxx)" in all the titles.

Call this new column `title_length`:

In [40]:
# your answer goes here...
from pyspark.sql.functions import col, length

In [41]:
### Do not run this cell ###

+--------+-----------------+----+------------+
|movie_id|            title|year|title_length|
+--------+-----------------+----+------------+
|       1| Toy Story (1995)|1995|           9|
|       2| GoldenEye (1995)|1995|           9|
|       3|Four Rooms (1995)|1995|          10|
|       4|Get Shorty (1995)|1995|          10|
|       5|   Copycat (1995)|1995|           7|
+--------+-----------------+----+------------+
only showing top 5 rows

Order `movies` by the `title_length` field in an ascending order:

In [42]:
# your answer goes here...

In [43]:
### Do not run this cell ###

+--------+-----------+----+------------+
|movie_id|      title|year|title_length|
+--------+-----------+----+------------+
|     267|    unknown|    |           0|
|     656|   M (1931)|1931|           1|
|    1287|  Ed (1996)|1996|           2|
|     330| 187 (1997)|1997|           3|
|    1200| Kim (1950)|1950|           3|
|     647| Ran (1985)|1985|           3|
|     234|Jaws (1975)|1975|           4|
|     283|Emma (1996)|1996|           4|
|     409|Jack (1996)|1996|           4|
|     149|Jude (1996)|1996|           4|
|      49|I.Q. (1994)|1994|           4|
|     732|Dave (1993)|1993|           4|
|     975|Fear (1996)|1996|           4|
|     976|Solo (1996)|1996|           4|
|    1112|Cobb (1994)|1994|           4|
|    1131|Safe (1995)|1995|           4|
|     729|Nell (1994)|1994|           4|
|    1387|Fall (1997)|1997|           4|
|     569|Wolf (1994)|1994|           4|
|     468|Rudy (1993)|1993|           4|
+--------+-----------+----+------------+
only showing top 20 rows

Load the ratings.csv file into a DataFrame and call it `ratings`. Please note that the delimiter of this file is "tab" (or "\t"). We will be using an option to define the delimiter:

```python
ratings = spark.read.format("csv")\
  ...
```

In [44]:
# your answer goes here...

In [45]:
### Do not run this cell ###

In [46]:
ratings.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- movie_id: integer (nullable = true)
 |-- rating: integer (nullable = true)
 |-- rating_timestamp: integer (nullable = true)

In [47]:
ratings.show()

+-------+--------+------+----------------+
|user_id|movie_id|rating|rating_timestamp|
+-------+--------+------+----------------+
|    196|     242|     3|       881250949|
|    186|     302|     3|       891717742|
|     22|     377|     1|       878887116|
|    244|      51|     2|       880606923|
|    166|     346|     1|       886397596|
|    298|     474|     4|       884182806|
|    115|     265|     2|       881171488|
|    253|     465|     5|       891628467|
|    305|     451|     3|       886324817|
|      6|      86|     3|       883603013|
|     62|     257|     2|       879372434|
|    286|    1014|     5|       879781125|
|    200|     222|     5|       876042340|
|    210|      40|     3|       891035994|
|    224|      29|     3|       888104457|
|    303|     785|     3|       879485318|
|    122|     387|     5|       879270459|
|    194|     274|     2|       879539794|
|    291|    1042|     4|       874834944|
|    234|    1184|     2|       892079237|
+-------+--------+------+----------------+
only showing top 20 rows

Filter all the 5-star ratings into a new DataFrame called `five_stars`:

In [48]:
# your answer goes here...

In [49]:
### Do not run this cell ###

+-------+--------+------+----------------+
|user_id|movie_id|rating|rating_timestamp|
+-------+--------+------+----------------+
|    253|     465|     5|       891628467|
|    286|    1014|     5|       879781125|
|    200|     222|     5|       876042340|
|    122|     387|     5|       879270459|
|     38|      95|     5|       892430094|
|    160|     234|     5|       876861185|
|    278|     603|     5|       891295330|
|    287|     327|     5|       875333916|
|    246|     201|     5|       884921594|
|    242|    1137|     5|       879741196|
|    249|     241|     5|       879641194|
|     99|       4|     5|       886519097|
|     25|     181|     5|       885853415|
|     59|     196|     5|       888205088|
|    290|     143|     5|       880474293|
|     42|     423|     5|       881107687|
|    138|      26|     5|       879024232|
|     60|     427|     5|       883326620|
|     57|     304|     5|       883698581|
|    127|     229|     5|       884364867|
+-------+--------+------+----------------+
only showing top 20 rows